@model IEnumerable<WebBanHang.Models.EF.Product>

@if (Model != null && Model.Any())
{
    foreach (var item in Model)
    {
        var strImg = "";
        var img = item.ProductImage.FirstOrDefault(x => x.isDefault);
        if(img!=null)
        {
            strImg = img.Image;
        }
        <div class="product-item @item.ProductCategory.Alias">
            <div class="product discount product_filter">
                <div class="product_image">
                    <img src="@strImg" alt="@item.Title">
                </div>
                <div class="favorite favorite_left"></div>
                <div class="product_info">
                    <h6 class="product_name"><a href="@Url.Action("Detail", "Product", new { id = item.Id })">@item.Title</a></h6>
                    @if (item.PriceSale != null)
                    {
                        <div class="product_price">@item.PriceSale<span>@item.Price</span></div>

                    }
                    else
                    {
                        <div class="product_price">@item.Price</div>
                    }
                </div>
            </div>
            <div class="red_button add_to_cart_button"><a href="#" class="btnAddToCart" data-id="@item.Id">Thêm Vào Giỏ Hàng</a></div>
        </div>
    }
}
